<Header>
    <nav>
        <ul class="head">
            <li class="inline"><a href="#">Home</a></li>
            <li class="inline"><a href="#">Order</a></li>
            <li class="inline"><a href="#">Product</a></li>
            <li class="inline"><a href="#">Report</a></li>
            <li class="inline"><a href="#">Admin</a></li>
            <li class="inline"><a href="#">Login</a></li>
            <li class="inline"><a href="#">Signin</a></li>
            <li class="inline"><a href="#">Contact</a></li>
            <li class="inline"><input type="text" placeholder="Search.."></li>
        </ul>
    </nav>
</Header>