
<main>
<Header>
    <nav>
        <ul class="head">
            <li class="inline"><a href="#">Home</a></li>
            <li class="inline"><a href="#">Order</a></li>
            <li class="inline"><a href="#">Product</a></li>
            <li class="inline"><a href="#">Report</a></li>
            <li class="inline"><a href="#">Admin</a></li>
            <li class="inline"><a href="#">Login</a></li>
            <li class="inline"><a href="#">Signin</a></li>
            <li class="inline"><a href="#">Contact</a></li>
            <li class="inline"><input type="text" placeholder="Search.."></li>
        </ul>
    </nav>
</Header>

<h1 class="head">About ATN</h1>

<section>
    <article><a href="#">
        <h1>Product</h1>
        <p>Product of ATN</p>
        <p class="price">41 Unit</p>
        <ul class="block">
            <li class="block">Electronic</li>
            <li class="block">Software</li>
            <li class="block">Clothing</li>
            <li class="block">Board game</li>
        </ul>
    </a></article>

    <article><a href="#">
        <h1>Legal</h1>
        <p>Company legal system</p>
        <p class="price">32 Unit</p>
        <ul class="block">
            <li class="block">Customer</li>
            <li class="block">Partnership</li>
            <li class="block">Employee</li>
            <li class="block">Product</li>
        </ul>
    </a></article>

    <article><a href="#">
        <h1>History</h1>
        <p>History of ATN company</p>
        <p class="price">56 Unit</p>
        <ul class="block">
            <li class="block">Leadership</li>
            <li class="block">Product</li>
            <li class="block">Community</li>
            <li class="block">Event</li>
        </ul>    
    </a></article>
</section>

<section>
    <article class="panel">
        <h2>{{Infoname}}</h2>
        <div class="article-content">
            <figure>
                <img src={{imglink}}/>
            </figure>
            <p>
                {{Infotext}}
            </p>
        </div>
    </article>
</section>

<footer>
	    <p><a href="#">About</a></p>
</footer>

</main>
