
<main>

<Header>
    <nav>
        <ul class="head">
            <li class="inline"><a href="#">Home</a></li>
            <li class="inline"><a href="#">Order</a></li>
            <li class="inline"><a href="#">Product</a></li>
            <li class="inline"><a href="#">Report</a></li>
            <li class="inline"><a href="#">Admin</a></li>
            <li class="inline"><a href="#">Login</a></li>
            <li class="inline"><a href="#">Signin</a></li>
            <li class="inline"><a href="#">Contact</a></li>
            <li class="inline"><input type="text" placeholder="Search.."></li>
        </ul>
    </nav>
</Header>

<h1 class="head">ATN home page</h1>

<section>
    <article class="panel">
        <h1 class="body">Top product 3 of the day</h1>
        <div><a href="/home/Banhgau">
            <figure class="inline"><button type = "AddrOder" class="Purchase"></button>
                <img src="imgs/banhgau.jfif"/>
            <p class="inline">
                Legendary bear head cookie
            </p>
            </figure>
            </button>

        </div></a>

        <div><a href="/home/Dogfood">
            <figure class="inline"><button type = "AddrOder" class="Purchase">
                <img src="imgs/dogfood.jfif"/>
            <p class="inline">
                Definitely a nonhuman(DAT) food
            </p></button>
            </figure>
        </div></a>

        <div><a href="/home/PS5C">
            <figure class="inline"><button type = "AddrOder" class="Purchase">
                <img src="imgs/PS5C.jfif"/>
            <p class="inline">
                Newest Dualsense
            </p></button>>
            </figure>
        </div></a>
    </article>
</section>

<footer>
	    <p><a href="/about">About</a></p>
</footer>

</main>
